* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
	background-color: #126c72;
	color: white;
	padding: 3em;
}

.content {
	width: 50%;
}

h1 {
	font-size: 48px;
}

button {
	color: black;
	font-weight: bold;
	background-color: #38cfd9;
	border-radius: 2em;
	border: none;
	padding: 1em 3em;
}
